In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

## Load Titanic dataset

In [26]:
df=sns.load_dataset('titanic')
df=df[~df['age'].isnull()]
print(df.shape)
df.head()

(714, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Perform a train/test split on the dataset

In [27]:
x=df[['age','fare']].values
y=df[['survived']].values
x_train, x_test, y_train, y_test = train_test_split(x,y)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(535, 2)
(179, 2)
(535, 1)
(179, 1)

## Evaluate a baseline (random) to predict whether a passenger will survive

In [28]:
y_pred=np.random.choice([0,1], replace=True, size=y_test.shape[0])
accuracy_score(y_test,y_pred)

0.4860335195530726

## Fit a nearest neighbors classifier to predict passenger survival based on ticket fare and age

In [29]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
accuracy_score(y_test,y_pred)

<ipython-input-29-13b5a7e7850e>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(x_train,y_train)

0.6815642458100558